.achievementContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.badge {
    width: 100px;
    height: 100px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.unAchieved {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.achievmentButton {
    margin-top: 50px;
}